@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+SC:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --trelloGray: #9fadbc;
    --backLogBG: #e2e2f8;
    --backLogSolid: #6e6edb;
    --toDoBG: #f6d9ed;
    --toDoSolid: #d341a5;
    --inProgressBG: #d2e6ff;
    --inProgressSolid: #2080ff;
    --doneBG: #bde4b5;
    --doneSolid: #00a64c;
    --borderRadius: 8px;
    --fontColor: white;
    --containerWidth: 90%;
    --mainColor: #00c2ff;
    --accentColor: #00cc80;
    --background: #314a89;
    --fontFamily: 'Montserrat';
    --softWhite: #dcdad7;
    --navyBlue: #3e6595;
    --darkGray: #1f1f1f;
    --mediumGray: #3c3c3c;
    --selectionTextColor: var(--softWhite);
    --selectionBackgroundColor: var(--navyBlue);
    --transition: 0.24s cubic-bezier(0.77, 0.2, 0.05, 1);
    --backgroundRepeatingLinearGradient: repeating-linear-gradient(rgb(0, 0, 0) 0px, rgb(0, 0, 0) 24px, var(--accentColor) 25px);
    --backgroundGradient: linear-gradient(135deg, transparent 0%, transparent 17%,rgb(87 146 234 / 32%) 17%, rgba(87, 146, 234,0.6) 59%,transparent 59%, transparent 64%,rgba(34, 81, 222,0.6) 64%, rgba(34, 81, 222,0.6) 100%),linear-gradient(45deg, transparent 0%, transparent 2%,rgb(87, 146, 234) 2%, rgb(87, 146, 234) 46%,rgb(114, 178, 239) 46%, rgb(114 178 239 / 52%) 54%,transparent 54%, transparent 63%,rgb(7 48 216 / 36%) 63%, rgb(7 48 216 / 32%) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}

body {
    min-height: 100vh;
    background: black;
    color: var(--fontColor);
    font-family: var(--fontFamily);
    background-size: cover !important;
}

header { padding-top: 35px; }

img { 
    max-width: 100%;
    &.cardCoverImage {
        max-height: 350px;
    }
}

button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    transition: var(--transition);
    font-family: var(--fontFamily);
    border-radius: var(--borderRadius);
    &.invertOnHover {
        &:hover {
            filter: invert(1);
        }
    }
}

form {
    font-family: var(--fontFamily);
    input {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        max-width: 100%;
        font-family: var(--fontFamily);
        border-radius: var(--borderRadius);
    }
}

footer {
    font-size: 12px;
    padding: 35px 0;
}

::selection {
    color: var(--selectionTextColor);
    background: var(--selectionBackgroundColor);
}

::-webkit-scrollbar {
    background: var(--darkGray);
    transition: var(--transition);
}

::-webkit-scrollbar-thumb {
    background: var(--mediumGray);
    transition: var(--transition);
    border-radius: var(--borderRadius);
    &:hover {
        background: var(--navyBlue);
        transition: var(--transition);
    }
}

.m0 { margin: 0; }
.w70 { width: 70%; }
.w85 { width: 85%; }
.w90 { width: 90%; }
.p5 { padding: 5px; }
.w100 { width: 100%; }
.m25 { margin: 25px; }
.m35 { margin: 35px; }
.h100 { height: 100%; }
.p10 { padding: 10px; }
.p15 { padding: 15px; }
.p20 { padding: 20px; }
.p25 { padding: 25px; }
.p30 { padding: 30px; }
.p35 { padding: 35px; }
.p5x { padding: 0 5px; }
.p5y { padding: 5px 0; }
.p10y { padding: 10px 0; }
.p15x { padding: 0 15px; }
.p15y { padding: 15px 0; }
.p5b { padding: 0 0 5px; }
.p5t { padding: 5px 0 0; }
.m25t { margin-top: 25px; }
.m35t { margin-top: 35px; }
.m0auto { margin: 0 auto; }
.m10l { margin-left: 10px; }
.m10r { margin-right: 10px; }
.mw225 { min-width: 225px; }
.p10b { padding: 0 0 10px; }
.p15b { padding: 0 0 15px; }
.p20b { padding: 0 0 20px; }
.p25b { padding: 0 0 25px; }
.p30b { padding: 0 0 30px; }
.p35b { padding: 0 0 35px; }
.p10t { padding: 10px 0 0; }
.p15t { padding: 15px 0 0; }
.p20t { padding: 20px 0 0; }
.p25t { padding: 25px 0 0; }
.p30t { padding: 30px 0 0; }
.p35t { padding: 35px 0 0; }
.p5y15x { padding: 5px 15px; }
.p5y20x { padding: 5px 20px; }
.mrauto { margin-right: auto; }
.fit { min-width: fit-content; }
.text-left { text-align: left; }
.relative { position: relative; }
.absolute { position: absolute; }
.p5nt { padding: 0 5px 5px 5px; }
.p5nb { padding: 5px 5px 0 5px; }
.text-right { text-align: right; }
.maxfit { max-width: fit-content; }
.ttu { text-transform: uppercase; }
.ttl { text-transform: lowercase; }
.ttc { text-transform: capitalize; }
.text-center { text-align: center; }
.p15nb { padding: 15px 15px 0 15px; }
.accent { color: var(--accentColor); }
.mainColor { color: var(--mainColor); }
.accentColor { color: var(--accentColor); }
.container { width: var(--containerWidth); }
.mauto { margin-left: auto; margin-right: auto; }
.borderRadius { border-radius: var(--borderRadius); }
.containerL { margin-left: calc(95% - var(--containerWidth)); }
.containerR { margin-right: calc(95% - var(--containerWidth)); }
.cardBorder { border: 5px solid var(--accentColor); border-radius: var(--borderRadius); }

.flex {
    display: flex;
    &.gap5 { grid-gap: 5px; }
    &.wrap { flex-wrap: wrap; }
    &.gap10 { grid-gap: 10px; }
    &.gap15 { grid-gap: 15px; }
    &.gap20 { grid-gap: 20px; }
    &.gap25 { grid-gap: 25px; }
    &.gap30 { grid-gap: 30px; }
    &.gap35 { grid-gap: 35px; }
    &.columns { flex-direction: column; }
    &.alignCenter { align-items: center; }
    &.alignCenter { align-items: center; }
    &.justifyEnd { justify-content: flex-end; }
    &.justifyCenter { justify-content: center; }
    &.spaceBetween { justify-content: space-between; }
}

.creativeWorkshopLogoContainer {
    background: white;
    border-radius: var(--borderRadius);
}

.trelloTicketForm {
    @media (max-width: 935px) {
        flex-direction: column;
        input, button {
            width: 100%;
        }
    }
}

.card {
    min-width: 30%;
    max-width: 30%;
    padding: 15px 15px 50px;
    border: solid 1px white;
    border-radius: var(--borderRadius);
    .cardContent {
        font-size: 12px;
    }
    @media (max-width: 1366px) {
        min-width: 47%;
        max-width: 47%;
    }
    @media (max-width: 787px) {
        min-width: 100%;
        max-width: 100%;
    }
}

.cardFooter {
    padding: 15px 25px 15px 0;
}

.status {
    &.textOverflow {
        line-height: 1.5;
        max-width: 180px;
    }
    &.todo {
        color: var(--toDoSolid);
        background: var(--toDoBG);
    }
    &.inProgress {
        color: var(--inProgressSolid);
        background: var(--inProgressBG);
    }
    &.done {
        color: var(--doneSolid);
        background: var(--doneBG);
    }
}

.label {
    color: black;
    background: white; 
}

.timeUpdates {
    max-width: fit-content;
    font-weight: 300;
    font-size: 14px;
}

.textOverflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 60%;
    display: block;
    margin: 0;
    &.tnoflow {
        overflow: visible;
    }
    &.tflow100 {
      max-width: 100%;
    }
    &.tflow95 {
      max-width: 95%;
    }
    &.tflow65 {
      max-width: 65%;
    }
    &.tflow35 {
      max-width: 35%;
    }
    &.tFlowBlock {
      display: block;
      max-width: 139px;
    }
    &.tflowShowDots {
      overflow: visible;
      position: relative;
      &::after {
        content: "...";
        position: absolute;
        bottom: 10px;
        right: -20px;
        overflow: visible;
      }
    }
}

.visuallyHidden {
    clip: rect(0, 0, 0, 0);
    position: absolute;
    overflow: hidden;
    margin: -1px;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}